<!DOCTYPE html>
<
<html>
<head>
<title>Arialogic | Pages | Gallery</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../../public/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('../images/demo/backgrounds/01.png');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper overlay">
    <header id="header" class="hoc clear">
      <nav id="mainav" class="clear"> 
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="gallery">Galerie</a></li>
          <li><a href="comment">Feedback/Kommentar</a></li>
          <li><a href="spenden">Spenden</a></li>
          <li><a href="anmelden">Anmelden</a></li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
      <div id="logo"> 
        <!-- ################################################################################################ -->
        <h1><a href="/">WorldWideGreen</a></h1>
        <p>Green for everyone!</p>
        <!-- ################################################################################################ -->
      </div>
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <header class="heading">Gallery Title Goes Here</header>
          <ul class="nospace clear">
              <li class="one_third first"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
              <li class="one_third"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
              <li class="one_third"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
          </ul>
          <figcaption>Gallery Description Goes Here</figcaption>
        </figure>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <nav class="pagination">
        <ul>
          <li><a class="btn inverse" href="#">&laquo; Zurück</a></li>
          <li class="current"><strong>1</strong></li>
          <li><a class="btn inverse" href="2">2</a></li>
          <li><a class="btn inverse" href="#">3</a></li>
          <li><a class="btn inverse" href="#">4</a></li>
          <li><a class="btn inverse" href="#">5</a></li>
          <li><a class="btn inverse" href="#">6</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a class="btn inverse" href="#">Weiter &raquo;</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="title">Impressum</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            Poststraße 12, Stuttgart, 70173
            </address>
          </li>
          <li><i class="fa fa-phone"></i> +49 176 123 45678<br>
            +49 176 123 45678</li>
          <li><i class="fa fa-fax"></i> Hotline<br>
             +49 176 123 45678</li>
          <li><i class="fa fa-envelope-o"></i> info@worldwidegreen.de</li>
          </address>
        </li>
      </ul>
    </div>
    
    <div class="one_quarter">
      <h6 class="title">Newsletter Abonnieren</h6>
      <p class="btmspace-30">Bleiben Sie immer auf dem neuesten Stand.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="one_quarter">
      <h6 class="title">Soziale Netzwerke</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="https://www.instagram.com/" target="_blank">Instagramm </a></h2> 
          </article>
        </li>
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="https://www.facebook.com/" target="_blank">Facebook</a></h2>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
<!-- IE9 Placeholder Support -->
<script src="../layout/scripts/jquery.placeholder.min.js"></script>
<!-- / IE9 Placeholder Support -->
</body>
</html>