<!DOCTYPE html>
<html>
<head>
<title>Home</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../../public/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('../../images/demo/backgrounds/kind.png');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper overlay">
    <header id="header" class="hoc clear">
      <nav id="mainav" class="clear"> 
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/gallery">Galerie</a></li>
          <li><a href="/comment">Feedback/Kommentar</a></li>
          <li><a href="/spenden">Spenden</a></li>
          <li><a href="/anmelden">Anmelden</a></li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
      <div id="logo"> 
        <!-- ################################################################################################ -->
        <h1><a href="/">WorldWideGreen</a></h1>
        <p>Green for everyone!</p>
        <!-- ################################################################################################ -->
      </div>
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <div class="introtxt">
        <p class="font-xs nospace">Marie von Ebner-Eschenbach</p>
        <h2 class="heading">Was wir heute tun, entscheidet darüber, wie die Welt morgen aussieht.</h2>
        <p>Für die Zukunft für unserer Kinder</p>
      </div>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn inverse" href="#">Zurück</a></li>
          <li><a class="btn" href="#">Weiter</a></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <h2 class="heading"></h2>
      </div>
    <ul class="nospace group blocks">
      <li class="one_quarter first bgded overlay" style="background-image:url('images/demo/unternehmen.jpg');"><a class="btn medium" href="unternehmen">Unternehmen</a><br>
        </li>
      <li class="one_quarter bgded overlay" style="background-image:url('images/demo/partner.jpg');"><a class="btn medium" href="partner">Partner</a><br>
        </li>
      <li class="one_quarter bgded overlay" style="background-image:url('images/demo/ziele.jpg');"><a class="btn medium" href="zieleunderfolge">Ziele</a><br>
        </li>
      <li class="one_quarter bgded overlay" style="background-image:url('images/demo/erfolge.png');"><a class="btn medium" href="zieleunderfolge">Erfolge</a><br>
        </li>
    </ul>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <h2 class="heading">News</h2>
    </div>
    <ul class="nospace elements">
      <li class="one_third first">
        <article><a href="https://www.greenpeace.de/themen/landwirtschaft/tierhaltung/krankes-system-billigfleisch" target="_blank"><img src="images/demo/greenpeace.jpg" alt="" ></a>
          <div class="txtwrap">
            <h6 class="heading">Greenpeace</h6>
            <p>Für einen Grünen  Neustart </br> Für den Schutz unserer Erde</p>
            <footer><a href="https://www.greenpeace.de/themen/landwirtschaft/tierhaltung/krankes-system-billigfleisch"target="_blank">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="https://www.nabu.de/natur-und-landschaft/naturschutz/deutschland/28153.ejs"target="_blank"><img src="images/demo/nabu.jpg" alt=""></a>
          <div class="txtwrap">
            <h6 class="heading">Neuigkeiten von NABU</h6>
            <p>Jetzt umdenken für mehr Nachhaltigkeit</p>
            <footer><a href="https://www.nabu.de/natur-und-landschaft/naturschutz/deutschland/28153.ejs"target="_blank">Read More &raquo;</a></footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article><a href="https://www.duh.de/stoppt-frontalangriff-auf-klimaschutz/"target="_blank"><img src="images/demo/duh.jpg" alt=""></a>
          <div class="txtwrap">
            <h6 class="heading">Umweltschutz</h6>
            
            <p>Stoppen Sie mit uns diesen Frontalangriff auf den Klimaschutz</p>
            <footer><a href="https://www.duh.de/stoppt-frontalangriff-auf-klimaschutz/"target="_blank">Read More &raquo;</a></footer>
          </div>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="title">Impressum</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            Poststraße 12, Stuttgart, 70173
            </address>
          </li>
          <li><i class="fa fa-phone"></i> +49 176 123 45678<br>
            +49 176 123 45678</li>
          <li><i class="fa fa-fax"></i> Hotline<br>
             +49 176 123 45678</li>
          <li><i class="fa fa-envelope-o"></i> info@worldwidegreen.de</li>
          </address>
        </li>
      </ul>
    </div>
    
    <div class="one_quarter">
      <h6 class="title">Newsletter Abonnieren</h6>
      <p class="btmspace-30">Bleiben Sie immer auf dem neuesten Stand.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="one_quarter">
      <h6 class="title">Soziale Netzwerke</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="https://www.instagram.com/" target="_blank">Instagramm </a></h2> 
          </article>
        </li>
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="https://www.facebook.com/" target="_blank">Facebook</a></h2>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
<!-- IE9 Placeholder Support -->
<script src="layout/scripts/jquery.placeholder.min.js"></script>
<!-- / IE9 Placeholder Support -->
</body>
</html>