<!DOCTYPE html>
<!--
Template Name: Arialogic
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html>
<head>
<title>Arialogic | Pages | Full Width</title>
<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/pricing/">
<link href="../assets/dist/css/bootstrap.css" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../../public/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('../images/demo/backgrounds/01.png');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper overlay">
    <header id="header" class="hoc clear">
      <nav id="mainav" class="clear"> 
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li><a href="/">Home</a></li>
          <li><a href="gallery">Galerie</a></li>
          <li><a href="comment">Feedback/Kommentar</a></li>
          <li><a href="spenden">Spenden</a></li>
          <li><a href="anmelden">Anmelden</a></li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
      <div id="logo"> 
        <!-- ################################################################################################ -->
        <h1><a href="/">WorldWideGreen</a></h1>
        <p>Green for everyone!</p>
        <!-- ################################################################################################ -->
      </div>
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
    
        </ul>
        <h2>Unsere Partner</h2>
        <p>Wir haben durch eine lange Freundschaft ein paar Namenshafte Partner gewonnen.</p>
        <p> </p>
        <p><ul class="nospace elements">
            <li class="one_third first">
              <article><a href="https://www.greenpeace.de/themen/landwirtschaft/tierhaltung/krankes-system-billigfleisch" target="_blank"><img src="../images/demo/greenpeace.jpg" alt="" ></a>
                <div class="txtwrap">
                  <h6 class="heading">Greenpeace</h6>
              </article>
            </li>
            <li class="one_third">
              <article><a href="https://www.nabu.de/natur-und-landschaft/naturschutz/deutschland/28153.html"target="_blank"><img src="../images/demo/nabu.jpg" alt=""></a>
                <div class="txtwrap">
                  <h6 class="heading">NABU</h6>
                </div>
              </article>
            </li>
            <li class="one_third">
              <article><a href="https://www.duh.de/stoppt-frontalangriff-auf-klimaschutz/"target="_blank"><img src="../images/demo/duh.jpg" alt=""></a>
                <div class="txtwrap">
                  <h6 class="heading">Deutsche Umwelthilfe</h6>
                </div>
              </article>
            </li>
          </ul>
          <!-- ################################################################################################ -->
        </section>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <div class="wrapper row4">
        <footer id="footer" class="hoc clear"> 
          <!-- ################################################################################################ -->
          <div class="one_quarter first">
            <h6 class="title">Impressum</h6>
            <ul class="nospace linklist contact">
              <li><i class="fa fa-map-marker"></i>
                <address>
                  Poststraße 12, Stuttgart, 70173
                  </address>
                </li>
                <li><i class="fa fa-phone"></i> +49 176 123 45678<br>
                  +49 176 123 45678</li>
                <li><i class="fa fa-fax"></i> Hotline<br>
                   +49 176 123 45678</li>
                <li><i class="fa fa-envelope-o"></i> info@worldwidegreen.de</li>
                </address>
              </li>
            </ul>
          </div>
          
          <div class="one_quarter">
            <h6 class="title">Newsletter Abonnieren</h6>
            <p class="btmspace-30">Bleiben Sie immer auf dem neuesten Stand.</p>
            <form method="post" action="#">
              <fieldset>
                <legend>Newsletter:</legend>
                <input class="btmspace-15" type="text" value="" placeholder="Name">
                <input class="btmspace-15" type="text" value="" placeholder="Email">
                <button type="submit" value="submit">Submit</button>
              </fieldset>
            </form>
          </div>
          <div class="one_quarter">
            <h6 class="title">Soziale Netzwerke</h6>
            <ul class="nospace linklist">
              <li>
                <article>
                  <h2 class="nospace font-x1"><a href="https://www.instagram.com/" target="_blank">Instagramm </a></h2> 
                </article>
              </li>
              <li>
                <article>
                  <h2 class="nospace font-x1"><a href="https://www.facebook.com/" target="_blank">Facebook</a></h2>
                </article>
              </li>
            </ul>
          </div>
          <!-- ################################################################################################ -->
        </footer>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
<!-- IE9 Placeholder Support -->
<script src="../layout/scripts/jquery.placeholder.min.js"></script>
<!-- / IE9 Placeholder Support -->
</body>
</html>