<!DOCTYPE html>
<html>
<head>
<title>Arialogic | Pages | Full Width</title>
<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/pricing/">
<link href="../assets/dist/css/bootstrap.css" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../../public/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('../images/demo/backgrounds/01.png');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper overlay">
    <header id="header" class="hoc clear">
      <nav id="mainav" class="clear"> 
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li><a href="/">Home</a></li>
          <li><a href="gallery">Galerie</a></li>
          <li><a href="comment">Feedback/Kommentar</a></li>
          <li><a href="spenden">Spenden</a></li>
          <li><a href="anmelden">Anmelden</a></li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
      <div id="logo"> 
        <!-- ################################################################################################ -->
        <h1><a href="/">WorldWideGreen</a></h1>
        <p>Green for everyone!</p>
        <!-- ################################################################################################ -->
      </div>
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
    
        </ul>
        <h2>Unser Unternehmen</h2>
        <h3>Seit über 25 Jahren im Einsatz für die Natur</h3>
        <p>Die World Wide Green (WWG) ist eine der größten und erfahrensten Naturschutzorganisationen der Welt und in mehr als 35 Ländern aktiv.
           Weltweit unterstützen ihn rund 1 Millionen Förderer. Das globale Netzwerk des WWG unterhält 35 Büros in mehr als 20 Ländern. Rund um den Globus führen Mitarbeiterinnen und Mitarbeiter aktuell 650 Projekte zur Bewahrung der biologischen Vielfalt durch. </p>
        <h4>Unsere Mission:</h4>

        <p>Wir wollen die weltweite Zerstörung der Natur und Umwelt stoppen und eine Zukunft gestalten, in der Mensch und Natur in Einklang miteinander leben.</p>
          
         <p>Unsere Grundwerte:</p>
          
            <p>Respekt vor Mensch und Natur<br>
              Glaubwürdigkeit<br>
              Unabhängigkeit<br>
              Verantwortung<br>
             </p>
          <h5>Geschichte des WWG</h5>
          <p>Am Anfang stand ein Startkapital von 85.000 DM – das war im Jahr 1992, dem Gründungsjahr des WWG Deutschland. Das Geld diente als Soforthilfe, die Mitarbeiter engagierten sich ehrenamtlich: für die Rettung nordeuropäischer Greifvögel, für den Schutz des Neusiedler Sees in Österreich oder für die Serengeti in Ostafrika. Der WWG etablierte sich als eine Institution für Artenschutz und die Ausweisung von Schutzgebieten. Der Panda, das Wappentier, ist auf der ganzen Welt als Symbol für den Schutz unserer Erde bekannt.

            1990, zwei Jahre zuvor, wurde WWG International, damals noch unter dem Namen World Wide Green, gegründet. Weltweit hat der WWG bis heute </p>
         <h6>Die Organisation des WWG Deutschland</h6>
         <p>Die Umweltstiftung WWG Deutschland will die weltweite Zerstörung der Natur und Umwelt stoppen, die Biodiversität bewahren, Lebensräume schützen und eine Zukunft gestalten, in der Mensch und Natur in Einklang miteinander leben. Sie hat ihren Sitz in Berlin und ist eine rechtsfähige Stiftung bürgerlichen Rechts. Das Kürzel WWG steht für „World Wide Green“.</p>
        <p>Die Stiftung ist als gemeinnützig anerkannt und hat zur Erfüllung ihrer Aufgaben folgende Organe und Gremien:</p>
        <h7>Vorstand</h7>
        <p>Eberhard Brandes
          (Geschäftsführender Vorstand)
                                      </p>
        <p>Christoph Heinrich

          (stellv. Geschäftsführender Vorstand, Vorstand Naturschutz) </p>
        <h8>Leitung der Geschäftsbereiche</h8>
        <p>

          Dr. Martin Bethke
          
          (Märkte und Unternehmen)<br>
          
          Tania Roach
          
          (Marketing und Fundraising)<br>
          
          Bozena Sommerwerk-Zieminski 
          
          (Finanzen, Verwaltung, IT-Service) <br>
          
          Marco Vollmar
          
          (Kommunikation und Kampagnen) </p>
          <h8>Stiftungsrat</h8>
          <p>Dr. Valentin von Massow (Vorsitzender)<br>

            Dr. Dr. Maritta R. von Bieberstein Koch-Weser (stellv. Vorsitzende)<br>
            
            Steffi Czerny<br>
            
            Prof. Dr. Monika Hilker<br>
            
            Prof. Dr. Heribert Hofer<br>
            
            Paul Mackay<br>
            Jürgen Schmidt<br>
            Max Schön<br>
          </p>
          <h9>Finanzausschuss</h9>
          <p>Jürgen Schmidt (Vorsitzender)<br>
            Dr. Valentin von Massow</p>
          <h9>Programmausschuss</h9>
          <p>Prof. Dr. Heribert Hofer (Vorsitzender)<br>

            Prof. Dr. Monika Hilker </p>
        














































      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="title">Impressum</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            Poststraße 12, Stuttgart, 70173
            </address>
          </li>
          <li><i class="fa fa-phone"></i> +49 176 123 45678<br>
            +49 176 123 45678</li>
          <li><i class="fa fa-fax"></i> Hotline<br>
             +49 176 123 45678</li>
          <li><i class="fa fa-envelope-o"></i> info@worldwidegreen.de</li>
          </address>
        </li>
      </ul>
    </div>
    
    <div class="one_quarter">
      <h6 class="title">Newsletter Abonnieren</h6>
      <p class="btmspace-30">Bleiben Sie immer auf dem neuesten Stand.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="one_quarter">
      <h6 class="title">Soziale Netzwerke</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="https://www.instagram.com/" target="_blank">Instagramm </a></h2> 
          </article>
        </li>
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="https://www.facebook.com/" target="_blank">Facebook</a></h2>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
<!-- IE9 Placeholder Support -->
<script src="../layout/scripts/jquery.placeholder.min.js"></script>
<!-- / IE9 Placeholder Support -->
</body>
</html>