<!DOCTYPE html>
<!--
Template Name: Arialogic
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html>
<head>
<title>Arialogic | Pages | Full Width</title>
<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/pricing/">
<link href="../assets/dist/css/bootstrap.css" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../../public/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('../images/demo/backgrounds/01.png');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper overlay">
    <header id="header" class="hoc clear">
      <nav id="mainav" class="clear"> 
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li><a href="/">Home</a></li>
          <li><a href="gallery">Galerie</a></li>
          <li><a href="comment">Feedback/Kommentar</a></li>
          <li><a href="spenden">Spenden</a></li>
          <li><a href="anmelden">Anmelden</a></li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
      <div id="logo"> 
        <!-- ################################################################################################ -->
        <h1><a href="/">WorldWideGreen</a></h1>
        <p>Green for everyone!</p>
        <!-- ################################################################################################ -->
      </div>
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
    
        
        <h2>Unsere Ziele:</h2>
          <p> Der WWG ist einer der größten und einflussreichsten Umweltorganisationen in Deutschland. Unsere nationalen und internationalen Projekte tragen dazu bei, unsere Ziele zu erreichen und zu beweisen, dass Bewahrung und verantwortungsvolle Nutzung der natürlichen Lebensgrundlagen mit nachhaltiger wirtschaftlicher Entwicklung vereinbar sind.</p>
          <p>  Der WWG leistet national und international in ausgewählten ökologischen Schlüsselregionen einen wirkungsvollen Beitrag zur Bewahrung der biologischen Vielfalt, Einzigartigkeit und Schönheit der Natur. In Deutschland setzen wir uns besonders für den Schutz von Nord und Ostsee, Küsten, Flusssystemen, Feuchtgebieten und Wäldern ein und wollen erreichen, dass bedrohte Arten wie Wolf, Luchs, Bär, Fischotter, Adler und Stör ihre Lebensräume ungestört besiedeln können und als Bewohner und Indikatoren einer intakten Natur geachtet werden.</p>
          <p>   Der WWG begeistert immer mehr Menschen für die Natur und einen umweltfreundlichen Lebensstil, weil er sie unmittelbar anspricht und mit guten Beispielen vorangeht. Kinder und Jugendliche lernen Natur- und Umweltschutz in der Schule und begeistern sich für unsere Ziele und Aktivitäten des WWG.</p>
        <h3>Strategie und Ziele des WWG 2018 bis 2022</h3>
        <p>Nie war es wichtiger, für unseren Planeten zu kämpfen. Nie hatten wir klarere Vorgaben zum Umweltschutz als die, die in den UN-Nachhaltigkeitszielen formuliert und im Weltklimavertrag von Paris beschlossen wurden. Nie wussten wir genauer, was zur Rettung unserer Erde getan werden muss – und nie waren die Aussichten auf Erfolg besser!</p>
        <p>Denn nie gab es so viele Menschen, die für unsere Erde einstehen wollen. Gemeinsam können wir es schaffen. Mit klugen Naturschutzkonzepten, innovativen Ideen und überzeugenden Mitmachangeboten wollen wir nachfolgenden Generationen ein gutes Leben auf der Erde ermöglichen. Über 13.000 Projekte in aller Welt hat der WWG seit seiner Gründung umgesetzt. Über fünf Millionen Menschen haben ihn dabei unterstützt. Trotz einzelner Rückschläge - die Erfolge zeigen immer wieder: Der Schutz der Natur ist nicht nur nötig, sondern auch möglich.</p>
        



        <p> <h3> Vom „Wald der Kinder“ zum nationalen Umweltprogramm</h3></p>

        <h2>1.Bolivien: Vom „Wald der Kinder“ zum nationalen Umweltprogramm</h2>
        <p>Es begann als regionales Projekt und endete mit einer kleinen Revolution der Umweltbildung in Bolivien: Aus ein paar Schulgärten des WWG entwickelte sich ein nationales Regierungsprogramm.</p>
        (Bild1)
        <p> Auch wenn „BOSNI – der Wald der Kinder“ schon längst den Kinderschuhen entwachsen und in ganz Bolivien bekannt ist: Die Begeisterung, mit der WWG-Projektleiter Dirk Embert davon erzählt, ist ungebrochen. Kein Wunder, ist es doch ein herausragendes Beispiel dafür, dass aus einer kleinen Idee manchmal eine große wird –  wenn die Zeit dafür reif ist. Und so ist aus dem anfänglichen Wunsch, Kindern in Boliviens großen Städten mit der Natur in Kontakt zu bringen, inzwischen ein Bildungsprogramm geworden, das fester Bestandteil  in den Lehrplänen der Schulen ist. Und es ist Auslöser manch kleiner Revolution im familiären Umfeld.<p/> 
        
        (Passendes Bild)
        
        <p>Dirk Embert hat da so seine eigenen Erfahrungen gemacht. „Neulich wurde ich zum Beispiel von den Eltern einer Schülerin angesprochen“, erzählt er von einer Begegnung auf einem Straßenfest in Santa Cruz, wo Kinder ihre Schul-Umweltprojekte zeigten. „Mit einem Augenzwinkern sagten sie zu mir, ich wisse gar nicht, was ich ihnen da angetan hätte: Ihre Tochter erlaube keinem in der Familie mehr, den Wasserhahn länger als nötig laufen zu lassen. Niemand darf unnötig das Licht anlassen und vorbei ist es auch mit dem Verbrennen von Autoreifen und anderem Müll.“ Man merkt den Eltern an, dass die Botschaft, die ihre Tochter über das Umweltbildungsprojekt nach Hause getragen hat, bei ihnen auf fruchtbaren Boden gefallen ist.</p>
        <h3>Ein Samenkorn geht auf<h3/>
        <p>Angefangen hat alles im Jahr 2010 mit einem kleinen Projekt, das Schulkindern den Zugang zur Natur ermöglichen sollte: über Schulgärten und eigene kleine Schulwälder. Daher auch der Name BOSNI, aus dem spanischen BOSque de NInos, was „Wald der Kinder“ bedeutet. Die Kinder fühlen sich verantwortlich für ihre Beete oder das Waldstückchen ihrer Schule. Hier können sie mit den Händen in Erde wühlen, säen, gießen und ernten – und ganz spielerisch dabei entdecken und verstehen. „Doch was dann passierte, ist einfach nur phantastisch“, sagt Embert und erzählt, welche Welle da ins Rollen kam. „Erst haben sich nur drei Schulen beteiligt, dann wurden es immer mehr. Inzwischen sind es landesweit 22.“ Doch nicht nur das: Heute ist die BOSNI-Lehrmethode verpflichtendes Fach an allen bolivianischen Schulen, und die dazu erforderlichen Unterrichtsmaterialien stehen rund 60.000 Lehrern zur Verfügung.</p>
        (Passendes Bild)
        <p>Viele Schulen verfügen inzwischen über grüne Klassenzimmer oder gar überdachte Freiluft-Aulen, um über den Kontakt mit der Natur nicht nur Biologie, sondern auch Geografie oder Mathematik zu vermitteln. Denn wer Gurken oder Zucchini anbaut, erfährt auch gleich etwas über die Herkunft dieser Gewächse und die Regionen, in denen sie gedeihen – und im Mathematikunterricht bekommt „Erbsenzählerei“ eine ganz neue Bedeutung! Regelmäßig zu Gast in vielen Klassen sind endlich auch wieder Indigene, die ihr Wissen über die Herstellung traditioneller Medizin mit den Schülern teilen und auf diese Weise einen kulturellen Schatz lebendig halten. Auch Naturschutz ist ein großes Thema, das aus erster Hand an die Kinder herangetragen wird – von Rangern, die von ihrer Arbeit  in den Schutzgebieten und indigenen Territorien erzählen. </p>
        <h4>Liebe zur Natur verbindet</h4>
        <p>Doch wie erreichen die Themen diejenigen Kinder, die weniger privilegiert sind, vielleicht sogar gar keine Schule besuchen können? Aus dieser Überlegung heraus entstanden in den Städten Puerto Quijarro, Trinidad und La Paz Umweltbildungszentren, die Anlaufpunkt sind für alle Menschen und jedes interessierte Kind. „Dabei ist etwas sehr Schönes entstanden, mit dem ich zunächst gar nicht gerechnet habe“, sagt Dirk Embert. „Die BOSNI-Umweltbildungszentren wirken integrierend auf ihre Umgebung. So gibt es einen regen Austausch mit Studenten der Universität in Trinidad und mit dem Kindermuseum in La Paz, von dem beide Seiten profitieren.“ Das vierte Umweltbildungszentrum wird gerade verwirklicht: Im September 2018 hat die Stadt Santa Cruz dem Wald-der-Kinder-Projekt großzügige Räume innerhalb des neu gebauten Umweltamtes zur Verfügung gestellt.</p> 
        
        (2) <h5>Hohe See: Gemeinsames Erbe der Menschheit</h5>
        <p>Seit Herbst 2012 stehen insgesamt rund 465.000 Quadratkilometer Ozean über dem Mittelatlantischen Rücken unter Schutz. Dieses Gebiet ist größer als die Ostsee.</p>
        (BildHoheSee)
        <p>Etwa zwei Drittel der Ozeane sind Hohe See. Sie liegen in Gebieten außerhalb der so genannten „Ausschließlichen Wirtschaftszonen“ von Staaten jenseits der 200 Seemeilen vor der jeweiligen Küste. Diese internationalen Gebiete sind nach Seerecht „gemeinsames Erbe der Menschheit“. Bodenschätze werden von der Internationalen Meeresbodenbehörde verwaltet, über die Fischerei bestimmen regionale und globale Abkommen sowie Organisationen.</p>  
        
        <h6>"Charlie-Gibbs Fracture Zone" - ein Hohe-See-Schutzgebiet</h6> (BildHoheSee2)
        <p>Doch Instrumente zum Schutz der Natur unter dem Schirm des UN-Seerechtsabkommens fehlen. Trotzdem konnte der WWG mit der weltweit ersten Nominierung eines Hohe-See-Schutzgebietes auf dem Mittelatlantischen Rücken, der so genannten „Charlie-Gibbs Fracture Zone“, ein enormes Vorhaben in Gang setzen. Dieses Gebiet ist reich an Seebergen und bis zu 4.000 Meter tiefen Canyons. Dort finden sich Kaltwasserkorallenriffe, Kolonien von Schwämmen und Tiefsee-Lebensgemeinschaften mit vielen bedrohten Arten. Kalte Strömungen aus dem Norden vermischen sich mit warmen aus dem Süden. Daher sind die Gewässer besonders planktonreich. Wale und Seevögel finden hier auf ihren langen Wanderungen reichlich Nahrung.<p> 
        
        <p>Nach fünf Jahren Vorbereitung stellten die 15 Staaten des OSPAR-Abkommens (zum Schutz des Nordatlantiks) im September 2010 sechs Hohe-See-Gebiete im Nordostatlantik unter Schutz – darunter das Charlie-Gibbs-Meeresschutzgebiet am Mittelatlantischen Rücken. Im Sommer 2012 wurde dessen Fläche auf WWG-Betreiben verdoppelt. Damit stehen 465.000 Quadratkilometer der Hohen See erstmals unter Schutz.</p> 
        
        
        
        <h7>Weitere Gefahren bleiben bestehen</h7> (Bild random)
        <p>Der WWG erreichte zudem, dass durch Beschlüsse der EU und der Nordostatlantischen Fischereikommission (NEAFC) der Einsatz von schädlichen Bodenschleppnetzen in großen Bereichen des Nordostatlantiks verboten wurde, darunter auch in den oben genannten Schutzgebieten. Doch es bestehen weitere Gefahren für die Schutzgebiete auf Hoher See:<br> 
        Die rechtlichen Rahmenbedingungen für Meeresschutzgebiete und vergleichbare Naturschutzmaßnahmen auf See beziehungsweise unter der Meeresoberfläche sind nicht einheitlich.<br>
        Der WWG warnt zudem vor nuklearen Abfällen, die seit den fünfziger Jahren an mehreren Stellen im Atlantik verklappt wurden.<br>
        Schutzmaßnahmen werden bislang vorrangig nach Sektoren getrennt umgesetzt: Fischerei, Schifffahrt, Offshore-Industrien und die Zuständigkeiten sind zersplittert und ungleich verteilt.<br>
        So kommt es insgesamt zu einem ungleichen Wettlauf zwischen Schutz und Nutzungen. Vor allem mechanische Zerstörungen durch Schleppnetze und Tiefsee-Bergbau drohen ganze Lebensräume zu zerstören. Daher fordert der WWG weiterhin ein Moratorium für den Tiefseebergbau. <br>
        
        
        <h8>Für ein weltweites UN-Abkommen zum Schutz der Hohen See</h8>
        <p>Der WWG unterstützt das im Rahmen des Abkommens zum Schutz der biologischen Vielfalt (CBD) festgelegte Ziel der Vereinten Nationen, bis zum Jahr 2020 mindestens zehn Prozent der Ozeane unter Schutz zu stellen. Darüber hinaus müssen die Internationale Seebodenbehörde und die Küstenstaaten strenge Regulierungen für den Abbau von Bodenschätzen verabschieden. Der WWG setzt sich für ein weltweites UN-Abkommen zum Schutz der Natur auf Hoher See ein, um eine gefährliche Rechtslücke zu schließen.<p>
        
        
        
        
        (3) <h9>KAZA: Afrikas größter Schutzgebietsverbund</h9> (Bild1)
        <p>Fünf Staaten im südlichen Afrika haben sich 2011 entschlossen, über ihre Ländergrenzen hinweg und mit Unterstützung des WWG gemeinsam Schutzgebiete nachhaltig zu entwickeln. So entstand um die Flüsse Kavango und Sambesi auf insgesamt 520.000 Quadratkilometer das zweitgrößte Land-Schutzgebietsnetzwerk der Erde – KAZA.<p>
        <p>Naturschutz über Grenzen hinweg: KAZA soll 21 Nationalparks und Wildreservate durch Korridore miteinander zu einem zusammenhängenden Naturraum verbinden – und Elefanten und anderen Tieren ungehinderte Wanderungen in ihre ehemaligen Verbreitungsgebiete ermöglichen.<p> 
        
        <h10>Gemeindeschutzgebiete stärken das Interesse am Naturschutz</h10> (Bild2Elefant)
        <p>Zugleich bekommen die Gemeinden vom Staat die Rechte und Pflichten für ihr Land mitsamt Wäldern und Wildtieren übertragen. So können sie zum ersten Mal von der intakten Natur profitieren: Sie dürfen legal in sogenannten Conservancies, Gemeindeschutzgebieten, bestimmte Arten für den Eigenbedarf jagen und sind zum Beispiel am Umsatz von Fotosafaris auf ihrem Land beteiligt. So ist der Elefant lebendig mehr wert, als wenn er wegen seines Elfenbeines gewildert wird. Zugleich lernen die Bauern, die Dickhäuter ohne Gewalt von ihren Feldern fernzuhalten – zum Beispiel durch Elektrozäune oder Chili-Stinkbomben. Und sie werden entschädigt, falls es einmal nicht klappt. Was mit dem erwirtschafteten Einkommen aus ihrer Natur geschieht, bestimmt die Gemeinde selbst.</p> 
        
        <p>Der WWG hilft dabei, die Gemeindeschutzgebiete einzurichten und nachhaltig zu nutzen, damit diese dann als Korridore fungieren und staatliche Schutzgebiete verbinden.<p> 
        <p>„Das Besondere an KAZA ist, dass es Naturschutz mit Armutsbekämpfung verbinden kann“, betont WWG-Vorstand Eberhard Brandes. Dies ist eine historische Chance für die Natur und die Menschen Afrikas. Der Tourismus sichert somit Arbeitsplätze für die lokale Bevölkerung was direkt zum Haushaltseinkommen der Familien beiträgt.</p> 
        <h11>Beschluss per Staatsvertrag</h11>
        <p>Am 15. März 2012 wurde KAZA eingeweiht. Zuvor hatten die Länder Angola, Botsuana, Namibia, Sambia und Simbabwe das Schutzgebietsnetzwerk am 18. August 2011 per Staatsvertrag beschlossen.</p>
        
        <p>Den Grundgedanke hinter KAZA setzte der WWG bereits 1990 in die Tat um: Begleitet von WWG-Experten erhielten Dorfgemeinschaften im südlichen Afrika das Nutzungsrecht über die Wildtiere ihrer Region. Heute gilt für alle WWG-Projekte: Natur zu schützen muss sich für die Menschen lohnen. </p>
        
        
        <h12>Gemeindeschutzgebiete sind der Schlüssel</h12>
        <p>Aber die wahren Treiber hinter der Idee von KAZA sind die Stammeshäuptlinge und die Vertreter der beteiligten Länder, die über den Naturschutz zu einer länderübergreifenden Vision finden. Mittlerweile gibt es allein in Namibia fast 86 Gemeindeschutzgebiete. In Sambia wurde das erste Gemeindeschutzgebiet im Oktober 2011 eingeweiht – Simalaha, ein 380.000 Hektar großer Korridor, der den Chobe-Nationalpark in Botsuana mit dem Kafue-Nationalpark in Sambia verbindet.<p>
        
        <p>Vor allem die Bundesregierung und die Kreditanstalt für Wiederaufbau (KfW) fördern das Projekt mit 35,5 Millionen Euro, der WWG Deutschland mit mehr als einer Million Euro. Damit werden zum Beispiel mobile Einsatztrupps finanziert, die bei Konflikten zwischen Mensch und Tier zu Hilfe kommen – etwa wenn Elefanten sich einem Feld nähern oder es verwüstet haben. Der WWG schult zudem die Kleinbauern in nachhaltiger Landwirtschaft und gibt ihnen die nötige Ausrüstung, um die Bodenfruchtbarkeit zu steigern und damit die Ernte zu verbessern.</p> 
        
        <h13>Erfolg: Bau von zwei Wasserkraftwerken im Juruena Nationalpark gestoppt(4)</h13>
        <p>Etappensieg am Amazonas: Dem WWG ist es gelungen, den Bau von zwei Wasserkraftwerken im Juruena-Nationalpark vorläufig zu stoppen. Damit werden 40.000 Hektar Regenwald vor der Flutung geschützt. Mindestens bis 2023 soll der Urwald von dem gigantischen Bauprojekt verschont bleiben – ein großer Erfolg. </p>(Bild4 1)
        
        <p>Die Kehrtwende der brasilianischen Regierung kam schneller als gedacht. Im Juni noch waren die beiden Wasserkraftwerke im artenreichen Juruena-Nationalpark fester Bestandteil des Energieplans. Mit fünf Gigawatt sollten sie so viel Energie liefern wie vier Atomkraftwerke – und das mitten im Urwald, tief im viertgrößten Nationalpark des Landes.</p> 
         
        <p>„Das Problem ist, dass Wasserkraft nicht unbedingt eine saubere Form der Energiegewinnung ist“, sagt WWG-Experte Roberto Maldonado. „Der Nationalpark Juruena zählt zu den artenreichsten Gegenden der Erde. Er beherbergt 42 bedrohte Arten, von denen etliche nur dort vorkommen. Auch zahlreiche Gebiete indigener Minderheiten wären in den Fluten versunken.“ </p>
        (Bild2)
        <p>Der WWG arbeitete mit der großangelegten Kampagne „SOS Juruena“ dagegen. Medien wurden mobilisiert, eine weltweite Online-Petition gestartet, Politiker überzeugt. Mit Erfolg: Knapp vier Monate später hat die brasilianische Regierung nun einen neuen Energieplan vorgelegt, in dem bis 2023 keine Wasserkraftwerke im Juruena-Nationalpark vorgesehen sind. </p>  
         
        <p>„Wir haben so sehr gekämpft und jetzt fühlt es sich einfach wahnsinnig gut an“, freut sich WWG-Amazonasexperte Roberto Maldonado, der die Arbeit der brasilianischen Kollegen von Deutschland aus unterstützt hat. „Eine Fläche von 40.000 Hektar rettet man nicht jeden Tag. Ich bin erleichtert und einfach nur glücklich über diesen Erfolg.“</p>
        
        <p>Allerdings seien Wasserkraftwerke im Amazonas damit nicht grundsätzlich vom Tisch, warnt Maldonado. Denn zum einen kann die jüngste Entscheidung bei einer Neuauflage des Energieplans wieder rückgängig gemacht werden. Zum anderen geht es darum, den Juruena- Nationalpark auch über 2023 hinaus zu erhalten. „Hier liegt noch sehr viel Arbeit vor uns“, sagt Roberto Maldonado. „Unsere Kampagne hat jedoch gezeigt, wie stark die Stimme der Zivilgesellschaft in Brasilien ist. Für die Regierung wird es immer schwieriger werden, die Einwände der Bevölkerung zu ignorieren.“</p> 
        
        <h14>Unsere Naturschutzerfolge 2014</h14> (Bild1)
        <p>Es gibt im Naturschutz viel zu tun – und auch immer wieder Rückschläge. Wir konnten 2014 aber mit unseren Unterstützern weltweit viele Erfolge feiern. Wie etwa das weltgrößte Tropenwaldschutzprogramm. </p>
        
        <h15>Weltweit größtes Tropenwald-Schutzprogramm ARPA gesichert</h15>
        <p>Ein großer Tag für die Natur: Am 22. Mai 2014 unterzeichneten die brasilianische Umweltministerin, der WWG, die Bundesregierung sowie weitere Partner die „ARPA for Life“ Initiative. Die brasilianische Regierung verpflichtet sich darin, nach einer Übergangszeit von 25 Jahren die Kosten für 60 Millionen Hektar Schutzgebiete zu übernehmen und sich für die Ausweisung weiterer sechs Millionen Hektar Schutzgebiet stark zu machen. Im Gegenzug stellen die ARPA for Life-Partner 215 Millionen Dollar zur Verfügung. Deutschland leistet mit 37 Millionen Euro einen erheblichen Beitrag zur Finanzierung des weltweit größten Schutzgebietnetzwerks. Der WWG finanziert seit 2007 mit 4,5 Millionen Euro das Park-Management des Juruena Nationalparks.</p>
        <h16>Politische Erfolge für den Amazonas</h16>
        <p>In Brasilien sollen an Infrastruktur, Energie und Rohstoffe immer mehr Regenwald, Schutzgebiete und Indigene Territorien geopfert werden. Dem tritt der WWG vehement entgegen - und das vor allem auf politischer Ebene mit Erfolg: Eine Straße, die mitten durch den berühmten Iguazú Nationalpark (UNESCO-Weltnaturerbe) gehen sollte, wurde von der politischen Agenda genommen - und ist somit erst einmal keine Bedrohung mehr. Planungen zum Bau eines Wasserkraftwerkes an der Grenze des Parks wurden durch ein Gericht in Brasilien gestoppt. Ähnliches wurde mit der geplanten Verfassungsreform PEG215 (Gesetzespaket zur einfacheren Auflösung von Schutzgebieten und Indigenen Territorien) erreicht. Als Antwort auf eine WWG-Kampagne wurden zwei Wasserkraftwerke, die im Juruena Nationalpark geplant waren, aus dem aktuellen Energieplan genommen. Dadurch wurde nicht nur die Überflutung von etwa 400 Quadratkilometer Regenwald verhindert, sondern auch der Bau von Straßen und Hochspannungsleitungen - die oft neue Entwaldung nach sich ziehen.</p>
        <h17>Doppelt so viel Beute für den Tiger in China</h17> (Bild2)
        <p>Der WWG arbeitet in China mit an einem Programm, das heimische Rot- und Sikahirsche in Farmen aufzieht - und dann in Tigergebiete auswildert. In den fünf Tiger-Kerngebieten im Nordosten Chinas gibt jetzt schon im Vergleich zu 2010 doppelt so viel Tiger-Beute. Die geringe Beutedichte war bisher ein Hauptgrund dagegen, dass Amur-Tiger und Amur-Leopard sich neue Lebensräume erschließen.</p> 
        <h18>Neuer Nationalpark Shantar Island in Russland</h18>
        <p>Shantar Island ist eine Inselgruppe im Ochotskischen Meer, nordwestlich der Amur-Mündung. Per Dekret wurde 2014 durch Ministerpräsident Dimitri Medwedew der Shantar Island Nationalpark ausgewiesen. Der neue Nationalpark hat eine Ausdehnung von 515.000 Hektar (davon 241.000 Hektar Land, der Rest Meer). Die Besonderheit von Shantar Island ist das Vorkommen von Grönlandwalen und Pazifischen Grauwalen. Die Flüsse und Bäche der Inseln sind Laichgewässer, unter anderem für Lachse. Ebenso sind die Inseln Habitat für viele Vogelarten, darunter Rote-Liste-Arten wie Riesen-Fischuhu (Bubo blakistoni), Riesenseeadler (Haliaeetus pelagicus) und Sichelhuhn (Falcipennis falcipennis). Der WWG hatte den Ausweisungsprozess aktiv unterstützt.</p> 
        <h19>Rettung für die Mekong-Delfine</h19>
        <p>Im Mekong gefährden Fischernetze die letzten Irawadi-Delfine. Immer wieder ertrinken Tiere in den feinen Kunststoffnetzen, die für die Delfine nicht zu sehen sind. Durch die langjährige Arbeit des WWG wird die so genannte Delfinstrecke auf circa 150 Kilometer von der laotischen Grenze bis zur kambodschanischen Stadt Kratie mittlerweile besser überwacht. 17 Rangerstationen bestehen entlang des Flussabschnitts. Verbotene Stellnetze in einer Gesamtlänge von 60 Kilometer wurden entfernt.</p>
        <h20>Sabah: Lebensraum für Elefanten und Orang-Utans<h/20>
        <p>In Sabah wird momentan der Raumordnungsplanung bis ins Jahr 2033 überarbeitet. Der WWG hat es geschafft, darin höchst wertvolle Gebiete vor Umwandlung in beispielsweise Palmölplantagen zu schützen - ein starkes Politik- und Lobbyinstrument gegen den Kahlschlag. Im Maliau-Becken ist es gelungen, einen umweltschutzfreundlichen Landnutzungsplan zu erstellen. Grundlage dafür waren Daten von mit Satellitenhalsbändern ausgestatteten Elefanten und weitere Biodiversitätsdaten wie Waldbedeckung und Waldverlust. Durch die Änderung wird nun erwartet, dass 11.600 Hektar in der östlichen Pufferzone des Schutzgebietes nicht - wie ursprünglich geplant - entwaldet werden.</p> 
        <h21>Kaukasus: Gegen die Wilderer – für die Leoparden</21>
        <p>Nach dem Zusammenbruch der Sowjetunion erreichte die Wilderei im Kaukasus einen dramatischen Höhepunkt. Viele Arten wurden stark dezimiert oder verschwanden. Seit Mitte der 1990er Jahre helfen wir dort bei der Bekämpfung der Wilderei – mit Erfolg. Einige Arten wie Bezoarziegen oder Gmelin's Mufflon erholen sich wieder. Nun ist die Hoffnung, dass auch der Kaukasus Leopard und die Streifenhyäne den ursprünglichen Lebensraum dauerhaft wiederbesiedeln. In Nachitchevan, im Talish-Gebirge und in Südarmenien konnten wir in den vergangenen Jahren mehrere Leoparden nachweisen. Da es sich dabei um Männchen und Weibchen handelte, besteht Hoffnung auf Nachwuchs.</p> 
        
        <p>Ein Jahr nach der ersten Umsiedlungen von 35 Kropfgazellen aus dem aserbaidschanischen Shirvan Nationalpark ins georgisch-aserbaidschanische Grenzgebiet scheinen die Tiere sich in ihrer neuen Heimat wohlzufühlen – sie haben sogar schon Nachwuchs.</p> 
        
        <h22>Schutz für Elefanten und Nashörner</h22> (Bild3)
        <p>Elefant und Nashorn werden weiter massiv durch Wilderei bedroht. Das Problem hat es inzwischen aber auf die Agenda der hohen Politik geschafft, darunter die Generalversammlung und den Sicherheitsrat der Vereinten Nationen. Auf einer Londoner Konferenz zu Wildlife Crime unterzeichneten 46 Länder (darunter auch Deutschland) und elf UN Organisationen eine umfassende Deklaration: von der Stärkung der Wildhüter im Feld, bis hin zu verbesserten Kontrollen an Häfen und der Reduzierung der Nachfrage in Konsumstaaten. Zahlreiche Länder, darunter Kenia, Tansania, Mosambik und China haben ihre Gesetze verschärft.</p>
        <h23>Über fünf Millionen Hektar Wald im Kongobecken FSC zertifiziert</h23>
        <p>Um die Entwaldung zu stoppen und eine naturverträgliche, ökonomisch tragfähige Landnutzung zu ermöglichen, setzt sich der WWG  für Waldnutzung unter den strikten Standards des FSC (Forest Stewardsship Council) ein. Nach erheblichen Anfangsschwierigkeiten stieg die zertifizierte Waldfläche im Kongo nun auf über fünf Millionen Hektar. Damit hat das Kongobecken die größte FSC-Fläche aller zusammenhängenden tropischen Wälder. Der FSC stellt die Balance zwischen den ökologischen Notwendigkeiten und dem dringenden Entwicklungsbedarf der bitterarmen Kongobeckenstaaten her.</p>
        <h24>Umweltbildung in Bolivien mit ungeplanten Erfolgen</h23>
        <p>Die Zukunft der Erde liegt in den Händen unserer Kinder - umso wichtiger ist deren Bildung. Hier setzt ein Projekt des WWG in Bolivien an. Was an drei Schulen begann ist inzwischen zu einer nationalen Initiative geworden, mit den vom WWG entwickelten Bildungsinhalten als Pflichtlektüre. Die Lehrinhalte wurden bereits an 60.000 Lehrer im ganzen Land verteilt. Die vom WWG erstellten Umweltbildungsvideos des Projekts wurden landesweit auf den fünf größten Kanälen ausgestrahlt, zu einer Kampagne und schließlich zu einem neuen Gesetz zur Vermeidung von Plastikmüll umgewandelt. Die Figuren aus den Videos wurden wegen ihrer großen Beliebtheit bei der Bevölkerung von der Regierung zu Leitfiguren für alle zukünftigen Umweltthemen deklariert.</p> 
        <h25>Schutzgebiete für Blauwale in Chile</h25> (Bild4)
        <p>Im Februar 2014 wurden endlich die ersten Meeresschutzgebiete zum Erhalt der Blauwalpopulation im Süden Chiles ausgewiesen. Jahrelang hatte der WWG die Blauwale beobachtet und deren Bewegungsmuster und Aufenthaltsgebiete im Corcovado Golf erforscht. Wir konnten damit die Küstengemeinden und die Politik von der Bedeutung der einzigartigen Meeresregion für die Blauwale überzeugen, nun sind über 90.000 Hektar unter Schutz gestellt.</p>
        
        
        <h26>Großer Fortschritt für Meeresschutzgebiete</h26>
        <p>Vor der Küste Schottlands und Spaniens sind über 70 neue Meeresschutzgebiete ausgewiesen worden. Darunter ist die Galizienbank vor Spanien mit ihren Kaltwasserkorallenriffen, deren Ausweisung vom WWG vorgeschlagen worden war. Viele der neuen Schutzgebiete gehen auf Vorschläge einer Allianz von Umweltorganisationen samt WWG hervor, darunter der Shetland-Kanal, das größte Meeresschutzgebiet in EU-Gewässern. <p>
        
        <h27>Großer Fortschritt für Meeresschutzgebiete</h27> (Bild5)
        <p>Vor der Küste Schottlands und Spaniens sind über 70 neue Meeresschutzgebiete ausgewiesen worden. Darunter ist die Galizienbank vor Spanien mit ihren Kaltwasserkorallenriffen, deren Ausweisung vom WWG vorgeschlagen worden war. Viele der neuen Schutzgebiete gehen auf Vorschläge einer Allianz von Umweltorganisationen samt WWG hervor, darunter der Shetland-Kanal, das größte Meeresschutzgebiet in EU-Gewässern.</p> 
        <28>Entdeckt: Camilo IV, Engmaulfrosch</h28>
        <p>Savannen und Feuchtgebiete werden in Südamerika zunehmend in Plantagen umgewandelt. Rinderzüchter und Palmöl-Plantagen dringen in bislang unberührte Gebiete vor. Ziel eines durch die Internationale Klimaschutzinitiative (IKI) des Bundesumweltministeriums geförderten WWG-Projekts ist sorgfältige Landplanung. Als nun im Rahmen des Projekts eine Expedition von WWG-Biologen in die Region im Orinoco Becken reiste, beteiligte sich daran auch der sechsjährige Kolumbianer Camilo – die Farm seines Vaters liegt in der Pilot-Region. Im Pool wurde er fündig – der Junge entdeckte eine neue Froschart. Bei dem zwei Zentimeter großen Minifrosch handelt es sich um eine bislang unbekannte Art der Engmaulfrösche (Microhylidae) – ein deutliches Indiz für den hohen biologischen Wert der Region.</p> 
        







      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="title">Impressum</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            Poststraße 12, Stuttgart, 70173
            </address>
          </li>
          <li><i class="fa fa-phone"></i> +49 176 123 45678<br>
            +49 176 123 45678</li>
          <li><i class="fa fa-fax"></i> Hotline<br>
             +49 176 123 45678</li>
          <li><i class="fa fa-envelope-o"></i> info@worldwidegreen.de</li>
          </address>
        </li>
      </ul>
    </div>
    
    <div class="one_quarter">
      <h6 class="title">Newsletter Abonnieren</h6>
      <p class="btmspace-30">Bleiben Sie immer auf dem neuesten Stand.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="one_quarter">
      <h6 class="title">Soziale Netzwerke</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="https://www.instagram.com/" target="_blank">Instagramm </a></h2> 
          </article>
        </li>
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="https://www.facebook.com/" target="_blank">Facebook</a></h2>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
<!-- IE9 Placeholder Support -->
<script src="../layout/scripts/jquery.placeholder.min.js"></script>
<!-- / IE9 Placeholder Support -->
</body>
</html>